.menu-foukani {
    -fx-background-color: #ff0000; /* Rouge */
}

.menu-jannoubi {
    -fx-background-color: rgba(194, 26, 26, 0.87);
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.shadow {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.white-bg {
    -fx-background-color: #ffffff; /* Blanc */
}

.card {
    -fx-background-color: #333333; /* Gris foncé */
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 2px;
    -fx-border-color: #ffffff; /* Blanc */
}